.account__add-button {
  width: 150px;
  height: 50px;
  margin: 0;
  padding: 0;
  background-image: url(../../../../images/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 22px 22px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
}

.account__add-button:hover {
  opacity: .6;
  transition: opacity .3s ease-in-out;
}

@media screen and (max-width: 1100px) {
  .account__add-button {
    width: 282px;
  }
}

@media screen and (max-width: 400px) {
  .account__add-button {
    background-size: 16px 16px;
  }
}
