.header__logo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 142px;
  height: 33px;
  background-image: url(../../../images/logo.svg);
}

@media screen and (max-width: 1100px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin-left: 27px;
  }
}
  