.popup__save-button {
  width: 358px;
  min-height: 50px;
  margin: 48px 0 0;
  padding: 0;
  background: #000000;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.popup__save-button:hover {
  opacity: .8;
  transition: opacity .3s ease-in-out;
}

@media screen and (max-width: 580px) {
  .popup__save-button {
    width: 238px;
    min-height: 46px;
    margin-top: 45px;
    font-size: 14px;
    line-height: 17px;
  }
}
